[submodule "src/third_party/apple_depth_pro"]
	path = gs_init_compare/third_party/apple_depth_pro
	url = https://github.com/apple/ml-depth-pro.git
[submodule "src/third_party/MoGe"]
	path = gs_init_compare/third_party/MoGe
	url = https://github.com/microsoft/MoGe.git
