[submodule "src/third_party/apple_depth_pro"]
	path = gs_init_compare/third_party/apple_depth_pro
	url = https://github.com/apple/ml-depth-pro.git
[submodule "src/third_party/MoGe"]
	path = gs_init_compare/third_party/MoGe
	url = https://github.com/microsoft/MoGe.git
[submodule "gs_init_compare/third_party/Depth-Anything-V2"]
	path = gs_init_compare/third_party/depth_anything_v2
	url = https://github.com/DepthAnything/Depth-Anything-V2
