.venv/
__pycache__
recon_cache/
ply_exports_*
gs_init_compare/third_party/metric3d/weight/*.pth
gs_init_compare/data/
results/
results_*-*-*_*:*:*/
combined_results/
ply_exports/
combined_results_*-*-*_*:*:*/
__mono_depth_cache__/
*.egg-info/
/tmp_*/
